* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

header {
  background: red;
  padding: 2rem;
  font-size: 2rem;
}

main {
  background: blue;
  padding: 2rem;
  display: grid;
  justify-content: center;
  font-size: 2rem;
}

footer {
  background: green;
  padding: 2rem;
  font-size: 2rem;
}

#content {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 2rem;
  justify-content: center;
  height: fit-content;
  background: lightcoral;
  font-size: 1.25rem;
}

div .thy-btn {
  background: #4e9caf;
  padding: 0.75rem 2rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  height: fit-content;
}

#next {
  display: grid;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  color: white;
}

#back {
  display: grid;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  color: white;
}

.center {
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}
