* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-weight: 700;
  font-size: 1.25rem;
}

fieldset {
  padding: 0.5rem 1rem;
}

main {
  padding: 1rem;
  gap: 1rem;
  background: rgba(144, 238, 144, 0.8);
}

main div {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
}

details {
  padding: 1rem 0;
}

fieldset {
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#footer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 2rem;
  justify-content: center;
  height: fit-content;
  background: lightcoral;
}

div .thy-btn {
  background: #4e9caf;
  padding: 0.75rem 2rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  height: fit-content;
}

#next {
  display: grid;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

#back {
  display: grid;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.center {
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-align: center;
}
